# IntelliJ
.idea/
*.iml
*.iws

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Gradle
.gradle/
build/
out/
gradle/wrapper/gradle-wrapper.jar

# Python
__pycache__/
*.pyc

# Docker
.env

# Frontend
node_modules/
dist/
.DS_Store
*.log
nohup.out
